.navbar-new-top{
    background: #fff;
    ul {
        margin-right: 2%;
        li {
            margin-right: 8%;
        }
        .nav-item {
            cursor: pointer;
            .shopping-cart-icon {
                margin-top: .5em;
            }
        }
    }
    .navbar-brand {
        img {
            width: 20%;
        }
    }
}

.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 3.6em;
    height: 40px;
    ul {
        li {
            margin-left: 2%;
            margin-right: 2%;
        }
    }
    .navbar-nav {
        .nav-item {
            .is-active {
                color: #f44336;
            }
            a {
                color: #333;
                font-size: 14px;
                font-weight: 600;
                &:hover {
                    color: #f44336;
                }
            }
        }
    }
}

::ng-deep .cart-summary-icon {
    display: none!important;
}